<?xml version="1.0" encoding="ISO-8859-1"?>
<MenuSpec>

<words>
  <number>5</number>
  <x>300</x>
  <y>100</y>
  <space>
    <x>70</x>
    <y>50</y>
  </space>
  <i0>Start Game</i0>
  <i1>Parameters</i1>
  <i2>Help</i2>
  <i3>Reset</i3>
  <i4>Exit</i4>
  
</words>

<clickoff>
  <file>images/clickoff.png</file>
  <width>40</width>
  <height>40</height>
  <src>
    <x>0</x>
    <y>0</y>
  </src>
  <transparency>false</transparency>
</clickoff>


<clickon>
  <file>images/clickon.png</file>
  <width>40</width>
  <height>40</height>
  <src>
    <x>0</x>
    <y>0</y>
  </src>
  <transparency>false</transparency>
</clickon>

</MenuSpec>
